$primary-color-light: #deeaee;
$primary-color-dark:#bdcebe;
$link-color-light:  #ffaaa5;
$link-color-dark: #558e9e;
$font-family: "Roboto Serif", serif;
$h3: 15px;
$h1: 30px;
$h2: 20px;
$border: 0.5px;
$border1: solid;
$border2: grey;
$P: 15px;

.aboutme {
  display: flex;
  background-image: linear-gradient(315deg, #deeaee 20%,#bdcebe 60%);
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.aboutme__container {
  background-color: white;
  text-align: center;
  max-width: 400px;
  border: $border $border1 $border2;
  padding: 13px;
  letter-spacing: 3px;
  margin:10px 0 20px 0;
}
.aboutme__container-text{
  font-size: 15px;
}
.aboutme__image {
  width: 200px;
  margin: 10px;
  border-radius: 50%;
  margin-top: 20px;
}
.artical__instagram{
  color:$link-color-light;
  font-size: 20px; 
}

@media screen and (min-width: 865px) {
  .aboutme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
  .aboutme__container {
    flex-direction: row;
    max-width: 500px;
    align-items: center;
    border-radius: 2%;
    margin-left: 10px;
    border: 2px solid $link-color-dark;
  }
  .aboutme__image {
    width: 30%;
    border-radius: 2%;
    margin: 15px 0 15px 0;
  }
  .aboutme__container-text{
    font-size: 18px;
 }
 
}
